.blog_resumen{
	background-color: $separatorColor;
}
.home-post{
	position:relative;
	overflow: hidden;
	img{
		width:100% !important;
		height:auto;
	}
}
.home-post-img{
	display:block;
	height:auto;
}
.home-post-link{
	color:black;
	display:block;
	margin:10px 0;
	font-weight: 100;
	line-height: 1.3;
	font-size: 2.4rem;
	&:hover{
		color:$marzoRed;
		text-decoration: none;
	}
}