.city{
  background-image: url(assets/img/ciudad_640.jpg);
  @media screen and(min-width: $tiny){
    background: url(assets/img/ciudad_1024.jpg) center center;
  }
  @media screen and(min-width: $small){
    background: url(assets/img/ciudad.jpg) center center;
  }
}