footer{
	font-size:.8em;
	position:relative;
	color:white;
	padding:140px 0 100px;
	background-image: url(assets/img/acuarela_loop.jpg);
	.arrow_up{
		position:absolute;
		right:20px;
		bottom:20px;
		z-index: 10;
		cursor: pointer;
		@media screen and (min-width: 560px){
			right:100px;
			bottom:100px;
		}
	}
}
/*MENU: REDES SOCIALES;*/
nav.sociales ul{
  text-align: center;
  list-style: none;
  padding: 0;
}
.sr-text, .screen-reader-text{
  display: none;
}
nav.sociales ul li{
  display: inline-block;
}
nav.sociales ul li a:before{
  font-family: 'FontAwesome';
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  content: '\f08e';
  font-size: 30px;
  color: white;
  -webkit-font-smoothing: antialiased;
}
nav.sociales li a[href*="linkedin.com"]::before{
  content: '\f08c';
}
nav.sociales li a[href*="twitter.com"]::before{
  content: '\f099';
}
nav.sociales li a[href*="instagram.com"]::before{
  content: '\f16d';
}
